body{
    color: #3a4946;
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color:rgb(14, 112, 112);
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
   
  
}
h2{
    color:rgb(14, 112, 112);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    
    padding: 10px;
}
h3{
    color:rgb(14, 112, 112);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
hr{
border:dotted #EAF6F6 6px;
border-bottom: none;
width:4%;
margin: 100px auto;
}


a{
    color:rgb(13, 66, 56) ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#EAF6F6;
}
.top-container{
    background-color:#80f8e2;
    position: relative;
    padding-top: 100px;

}
.middle-container{
   margin: 100px 0;
   
}
  p{
    line-height: 2;
  }  
.bottom-container{
    background-color:#36b8a0; 
    padding: 50px 0 20px;
    }

.pro{
    text-decoration: underline;
    
}
.intro{
    width: 30%;
    margin:auto;
    letter-spacing: 2px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
   
}

.top-cloud{
    position: absolute;
    right:320px;
    top:0px;
}

.bottom-cloud{
    position: absolute;
    left:320px;
    bottom: 220px;
}

  
.profile-photo{
    width: 15%;
}
.skills-img{
    width: 20%;
    float: left;
    margin-right: 50px;
}
.skill-img{
    width: 20%;
    float: right;
    margin-left: 50px;
}
.GIT{
    letter-spacing: 3px;
    margin:40px auto 60px;
}
.btn {
    background: #34c9e0;
    background-image: -webkit-linear-gradient(top, #30e6dd, #2fbfc4);
    background-image: -moz-linear-gradient(top, #30e6dd, #2fbac4);
    background-image: -ms-linear-gradient(top, #30e6dd, #2fa1c4);
    background-image: -o-linear-gradient(top, #30e6dd, #2faec4);
    background-image: linear-gradient(to bottom, #30e6dd, #2fa6c4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid 80f8e2 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, rgb(14, 112, 112), rgb(14, 112, 112));
    background-image: -moz-linear-gradient(top, rgb(14, 112, 112), rgb(14, 112, 112));
    background-image: -ms-linear-gradient(top, rgb(14, 112, 112), rgb(14, 112, 112));
    background-image: -o-linear-gradient(top, rgb(14, 112, 112), rgb(14, 112, 112));
    background-image: linear-gradient(to bottom, rgb(14, 112, 112), rgb(14, 112, 112));
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }